*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: rgb(51, 69, 63);
    color:rgb(252, 252, 252);
    font-family: 'Dosis', sans-serif;
    h2{
        font-family: 'Dancing Script', cursive;
    }
    header{
        .sechead{
            display:flex;
            justify-content:center;
            padding:1vw;
            align-items:center;
            .img1{
                border-radius:50%;
                width:15vw;
            }
            .signature{
                display:flex;
                flex-direction: column;
                margin-left:2vw;
                h1{
                    font-family: 'Dancing Script', cursive;
                    font-size: 32px;
                    margin-block-start:0;
                    margin-block-end:0;
                }
                h4{
                    margin:0;
                    font-size: 16px;    
                }
            }
        }
        .secnav{

            .button{
                display:none;
                border:2px solid rgb(51, 69, 63);
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width:30px;
                height:30px;
                border-radius: 10%;
                margin:2vw;
                .line{
                    background-color:rgb(51, 69, 63);
                    width:70%;
                    height:10%;
                }
            }
            .navi{
                background-color: rgb(66, 122, 105);
                display:flex;
                align-items: center;
                justify-content: space-around;
                padding:2vw 5vw;
                height:5vw;
              
                a{
                    color:inherit;
                    text-decoration:none;
                    width:23%;
                    div{
                        text-align: center;
                    }
                }
                a:hover{
                    font-size:20px;
                    text-shadow: 1px 1px 5px #000;
                    transition: font-size 0.2s linear;
                }
            }
        }
    };
    main{
        margin-left:13vw;
        padding-top:21vw;
        .omnie{
            padding:3vw;
        }
        .hobby{
            background-color: rgb(24, 37, 33);
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows:1fr 1fr;
            border-top:1px solid #fff;
            // padding:3vw;
            height:50vw;
            position:relative;
            #hobby{
                width:100%;
                height:100%;
                position:absolute;
                z-index: 1;
                background-size:cover;
            }
            .napis{
                position:absolute;
                margin-left:1vw;
                z-index: 2;
            }
            .img2{
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items: center;
                margin:2vw;
                z-index: 2;
                // position: static;
                img{
                    border-radius: 50%;
                    width:15vw;
                }
                img:hover{
                    width:20vw;
                    position:absolute;
                    box-shadow:5px 5px 10px #000;
                    transition: width 0.4s linear;
                }
                .opis{
                    display:none;
                    height:70%;
                    width:70%;
                    background-color:rgb(51, 69, 63) ;
                    align-items:center;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
    .top{
        position:absolute;
        top:0;
        width:100%;
        .button{
            display:none;
        }
    };
    .left{
        position:fixed;
        left:0;
        top:0;
        height:100%;
        background-color: rgb(66, 122, 105);
        width:13vw;
    };
    .med{
        background-color: rgb(66, 122, 105);
        position:sticky;
        top:0;
    }
    footer{
        background-color:#000;
        color:#fff;
        border-top:1px solid #fff;
        margin-left:13vw;
        .sm{
            padding:3vw 1vw;
            .ftnav{
                border-bottom:1px solid #fff;
                display:flex;
                flex-direction: row;
                justify-content:space-around;
                align-items:center;
                padding:2vw 3vw;
                a{
                    color:inherit;
                    text-decoration:none;
                }
            }
        }
        .ftdown{
            
            .imgkiwi{
                background-color:rgb(58, 35, 16);
                border-radius: 50%;
                width:10vw;
                
            }
        }
    }
    @media (max-width:500px){
        main{
            margin-top: 5vw;
            margin-left:0;
            .hobby{
                .napis{
                    font-size:16xp;
                    display:none;
                }
            }
        }
        footer{
            margin-left:0;
        }
    }
}